* {
  margin: 0;
  padding: 0;
}

html {
  color: #222;
  line-height: 1.4;
  font-size: 16pt;
  font-family: Michroma, sans-serif;
}
/* Font */
.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

.jura-<uniquifier> {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: auto;
  background-color: black;
  padding: 0 3rem;
  font-family: jura, sans-serif;
  font-size: 1.25rem;
   position: sticky;
  top: 0;
  z-index: 1000;
}

a {
  color: #2e6db4;
  text-decoration: none;
  padding-left: 45px;
}

a:hover {
  text-decoration: underline;
}

.content {
 display: grid;
 grid-template: repeat(7, 25%) / repeat(2, 50%);
 gap: 4rem 0;
 padding-bottom: 40rem;
}

h2 {
  font-family: Jura, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
}

p {
  padding-top: 15px
}

