* {
  margin: 0;
  padding: 0;
}

html {
  color: white;
  line-height: 1.4;
  font-size: 16pt;
  font-family: Michroma, sans-serif;
  background-color: #181d20;
}
/* Font */
.michroma-regular {
  font-family: "Michroma", sans-serif;
  font-weight: 400;
  font-style: normal;
} 

.jura-<uniquifier> {
  font-family: "Jura", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 6rem;
  width: auto;
  background-color: black;
  padding: 0 3rem;
  font-family: Jura, sans-serif;
  font-size: 1.25rem;
   position: sticky;
  top: 0;
  z-index: 1000;
}

a {
  color: #2e6db4;
  text-decoration: none;
  padding-left: 45px;
}

a:hover {
  text-decoration: underline;
  color:#DF0024 ;
}

.playstationlogo {
  height: 6rem;
  width: auto;
}

body {
  min-height: 480rem;
  display: grid;
  grid-template-rows: auto 1fr auto; /* Header and Footer auto-size; main takes remainder */
  margin: 0;
}

.container {
  height: 35rem;
  width: auto;
  background-image:  linear-gradient(rgb(10 10 10 / 80%), rgb(10 10 10 / 80%)),url("https://i.redd.it/vsprmxbhzaj81.png");
  background-size: cover;
  background-position: center;
}

.title {
  text-align: center;
  padding-top: 5rem;
  font-family: Jura; sans-serif;
  font-weight: 900;
  font-size: 2rem;
  text-align: center;
  color: white;
}

.characterssub {
  font-size: 1.7rem;
  border-bottom: 0 solid; 
}

.content {
 display: grid;
 grid-template: repeat(7, 20%) / repeat(2, 50%);
 gap: 2rem 0;
 padding-top: 5rem;
}

h2 {
  font-family: jura, sans-serif;
  font-weight: bold;
  font-size: 2.5rem;
  border-bottom: 1px solid #2e6db4;  
}

h3 {
   font-size: 1rem;
   text-align: center;
   padding-top: 5rem;
  padding: 100px; 
  font-family: Michroma, sans-serif;
}

p {
  padding-top: 15px
  text-align: left; 
  padding: 1rem;
  font-family: Michroma, sans-serif;
  word-spacing: .3rem;
}

.ratchetimg {
  background-image: url("https://m.media-amazon.com/images/M/MV5BNDBkZDBkMzYtYmQ3Zi00ZTQ3LTk1NzAtMWExYzkyZTFmNjg1XkEyXkFqcGc@._V1_FMjpg_UX1000_.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 100px 0 0 100px;
}

.laraimg {
  background-image: url("https://i.redd.it/8otvlue8njf51.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 0 100px 100px 0;
}

.markimg {
  background-image: url("https://i.redd.it/hold-up-was-this-the-same-person-who-played-mark-hammond-in-v0-9ubmhkt4x1rf1.jpg?width=360&format=pjpg&auto=webp&s=b0a2ee7dfe1e233e9953fffa922c273f2db79a17");
  background-size: cover;
  background-position: center;
  border-radius: 100px 0 0 100px;
}

.slyimg {
  background-image: url("https://cdnb.artstation.com/p/assets/images/images/031/846/269/large/john-hayes-sly-europegamecoverscaled.jpg?1604766240");
  background-size: cover;
  background-position: center;
  border-radius: 0 100px 100px 0;
}

.dirkimg {
  background-image: url("https://i.pinimg.com/736x/ea/17/16/ea1716546137ff546e0c83451a1de35a.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 100px 0 0 100px;
}

.hotsumaimg {
  background-image: url("https://i.pinimg.com/736x/88/93/d8/8893d8c099cacbc9664deec511c5fa07.jpg");
  background-size: contain;
  background-position: center;
  border-radius: 0 100px 100px 0;
}

.graveimg {
  background-image: url("https://m.media-amazon.com/images/M/MV5BMzQyNGY3ZWYtM2YyMC00OTM0LThhZjctMDJkZTJmZjBhYTc2XkEyXkFqcGc@._V1_.jpg");
  background-size: cover;
  background-position: center;
  border-radius: 100px 0 0 100px;
}

.ratchet , .lara , .sly , .mark , .grave , .hotsuma , .dirk  {
  padding: 2rem 4rem;
}

footer {
  display: flex;
  justify-content: space-between;
  margin-top: 1rem;
  align-items: center;
  padding: 0 5rem;
  height: 15rem;
  background-color: black;
  font-size: 18px;
}

footer a {
  color: #2e6db4
}

footer a:hover {
  color:#DF0024 ;
}

.sources {
  display: flex;
  flex-direction: column;
  text-align: right;
  width: 100%;
}
